html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: auto;
  text-align: center;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
  max-width: 900px;
}

.row {
  display: flex; 
  text-align: left;
  align-items: start;
  gap: 4rem; 
  justify-content: space-between;
}

.item-desc {
  display: flex;
  gap: 0.5rem;
}

p {
  margin: 0;
}

.food {
  font-size: 0.825rem;
  line-height: 1.25rem;
}

button {
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.825rem;
  line-height: 1.25rem;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background: #E0E0E0;
}